Django==1.9.1
dj-database-url==0.3.0
gunicorn==19.1.1
python-social-auth
Fabric==1.7.0
gnacs
-e git://github.com/DrSkippy/Simple-n-grams.git@bbfd782614b39e2d0a1bc01fc6a75cc5df235e3e#egg=Simple-n-grams
-e git://github.com/twitterdev/twitter-python-ads-sdk.git#egg=twitter-ads
