body {
  padding-top: 30px;
  font-family: 'Roboto', sans-serif;
}

/* Side */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 100px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 150px;
    width: 0;
    height: 100%;
    margin-left: -150px;
    margin-top:25px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
    width: 100px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -100px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 150px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: white;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 150px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 150px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
.sidebar-nav li a img {
  height: 25px;
  width: 25px;
  margin-right:10px;
  margin-top:-3px;
}

.container {
    padding-right: 15px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: 15px;
}
/* NProgress */
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #E74D3C;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 5px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  /*box-shadow: 0 0 10px #E74D3C;, 0 0 5px #E74D3C;;*/
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #E74D3C;
  border-left-color: #E74D3C;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Standard Boostrap Conversion */
.navbar {
  background-color:#00ACED;
}
.navbar a{
  background-color:#00ACED;
}

/* Login */
.panel-default>.panel-heading {
    color: #333;
    background-color: #00ACED;
    border-color: #00ACED;
}


.dropdown a{
  color:white
}
.dropdown a:hover{
  color:grey
}
.dropdown-menu {
    background: white;
}
.dropdown-menu>li>a{
  background:white;
  color:#00ACED;
}

div.container div.main {
	margin-top: 20px;
}

.starter-template {
  padding: 40px 15px;
  text-align: left;
}

.full-screen {
    width: 90%;
    height: 100%;
    margin-left: 5%;
    top: 0;
    left: 0;
}

.tweet {
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #999;
}

.top-buffer {
	margin-top:80px;
}

blockquote img {
  margin-right: 15px;
}

.white-panel {
	position: absolute;
	background: white;
}

.loading {
	width: 100%;
	text-align: center;
	margin: 12px 0px;
}

.loading img {
	width: 32px;
}

.query-add {
	margin-top: 12px;
	margin-bottom: 4px;
}

a {
  color:#00ACED;
}

.btn-primary {
    color: #fff;
    background-color: #00ACED;
    border-color: #00ACED;
}
.inline {
  display:inline;
}
