{% extends "base.html" %}
{% load tags %}
{% load humanize %}

{% block title %}Ads Accounts{% endblock %}

{% block content %}
<div class="row">
  <h4><a href=".../ads/audiences">Audiences</a></h4>

  <!-- Setup Table to consume Ads Api -->
  <table class="table" style="width:80%">
    <thead>
      <tr>
        <th>Audience Bucket</th>
        <th>Search Query</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="table-data">
    </tbody>
  </table>
</div>

<!-- Modal -->
<div id="adsModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Ads</h4>
      </div>
      <div class="modal-body">

				<!-- Setup Account-->
				<div class="ads-accounts">
					<h3>Select Account</h3>
					<!-- Single button -->
					<div class="btn-group">
					  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    Select Ads Account <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu dropdown-ads-accounts"></ul>
					</div>
				</div>

				<!-- Setup Campaign-->
				<div class="ads-campaigns">
					<h3>Select Campaign</h3>
					<!-- Single button -->
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Select Campaign <span class="caret"></span>
						</button>
						<ul class="dropdown-menu dropdown-ads-campaigns"></ul>
					</div>
				</div>

				<!-- Setup LineItems-->
				<div class="ads-lineitems">
					<h3>Select Line Item</h3>
					<!-- Single button -->
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Select Line Item <span class="caret"></span>
						</button>
						<ul class="dropdown-menu dropdown-ads-lineitems"></ul>
					</div>
				</div>

				<!-- Setup Targeting-->
				<div class="ads-targeting">
					<h3>Confirm Targeting</h3>
					<!-- Single button -->
					<ul class="ads-targeting-list"></ul>
					<button type="button" class="btn btn-default btn-lg ads-add-targeting">Add Targeting</button>
				</div>
      </div>

    </div>

  </div>
</div>
<script>
var page = "AUDIENCE";
</script>
<script src="{{STATIC_URL}}js/ads.js"></script>
<script src="{{STATIC_URL}}js/audiences.js"></script>



{% endblock %}
